.CarListContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap:2rem;
}
.pagination_container{
    display: flex;
    justify-content: end;
    align-items: center;
}
.FilterContainer,.CarListContainer{
    margin:2rem 5rem;
}
.FilterContainer{
    display: flex;
    justify-content:space-between;
}
.search_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1200px) {
    .CarListContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 992px) {
    .CarListContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .CarListContainer {
        grid-template-columns: repeat(2, 1fr);
    }
    .FilterContainer{
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .CarListContainer {
        grid-template-columns: repeat(1, 1fr);
    }
    .FilterContainer,.CarListContainer{
        margin:2rem;
    }
}